//header

.underlined {
    /*   background: red; */
      position: relative;
    }
    
    
    .underline-overflow {
      display: inline-block;
      /* A little extra padding and overflow hidden   */
      overflow: hidden;
      padding-bottom: clamp(1rem, 2vmin, 2rem);
    }
    
    .underline-clip:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid wheat;
      /* Use a clip-path to hide and show the bits you want */
      clip-path: polygon(0 0, 50% 50%, 100% 0);
    }
    .underline-clip3:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid rgb(195, 30, 1);
      /* Use a clip-path to hide and show the bits you want */
      clip-path: polygon(0 0, 50% 50%, 100% 0);
    }