@import "_animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-padding-top: 100px;
}
body {
  position: relative;
  background: whitesmoke;
  font-family: "Lato", monospace;
}
h1 {
  font-size: 8rem;
  font-weight: bold;
  color: whitesmoke;
}
h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.container {
  padding: 0;
}
.shadow-bg {
  background-color: black;
}

//nawigacja
nav {
  z-index: 1;
}
.navbar {
  background-color: #333;
  .nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 0 0 5% 5%;
    .navbar-br {
      padding-top: 6rem;
      text-align: center;
      font-size: 3.5rem;
      font-family: "Climate Crisis", monospace;
      color: whitesmoke;
      transition: 0.7s;
    }
    .navbar-br:hover {
      color: rgb(195, 30, 1);
    }
    .navbar-des p {
      font-size: 2rem;
      padding: 0 1rem;
      font-family: "Climate Crisis", monospace;
      color: whitesmoke;
      transition: 0.7s;
    }
    .navbar-des:hover {
      color: rgb(195, 30, 1);
    }
  }
  .navbar-toggler {
    font-size: 32px;
    left: 90%;
    top: 10px;
    color: whitesmoke;
    transition: 0.7s;
    z-index: 15;
  }
  .navbar-toggler:hover {
    margin-left: 1rem;
    color: rgb(195, 30, 1);
  }
  a {
    text-decoration: none;
  }
}
.navbar-nav {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.7s;
  .nav-link {
    margin-left: 1rem;
    color: whitesmoke;
    transition: 0.7s;
  }
  .active {
    color: rgb(195, 30, 1);
    font-weight: bold;
    font-size: 2rem;
  }
  .nav-link:hover {
    color: rgb(195, 30, 1);
  }
  .fa-brands {
    font-size: 3rem;
    cursor: pointer;
  }
  .fa-phone-volume {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .fa-at {
    font-size: 2.5rem;
    cursor: pointer;
  }
}

//header

.home-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/main-photo.jpg");
  background-size: cover;
  background-position: center;
  z-index: 10;
  .home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: 1rem;
    background-color: #333;
    border: 1px solid wheat;
    box-shadow: 0rem 0rem 1.5rem wheat;
    .btn-welcome:hover {
      background-color: rgb(195, 30, 1);
    }
    p {
      padding: 1rem;
      font-size: 4rem;
      font-weight: bold;
      line-height: 2rem;
      color: whitesmoke;
    }
    a {
      margin-top: 1.7rem;
      font-size: 2rem;
      font-weight: bold;
      color: whitesmoke;
      border: 3px solid whitesmoke;
      border-radius: 5rem;
      background-color: none;
      transition: all 0.7s;
    }
    a:hover {
      color: rgb(195, 30, 1);
      border: 3px solid rgb(195, 30, 1);
    }
  }
  .fa-solid {
    padding: 3rem;
    font-size: 3rem;
    color: whitesmoke;
    transition: 0.7s;
  }
  .fa-solid:hover {
    color: rgb(195, 30, 1);
  }
}
// about

.about-me {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;
  .name {
    //border: 1px solid black;
    .about-name {
      text-align: center;
      font-size: 5rem;
      padding: 0 1rem;
      font-weight: bold;
    }
    .about-text {
      text-align: center;
      margin-top: 2rem;
      font-size: 2rem;
      padding: 1rem;
    }
  }
  .about-photo {
    //border: 1px solid red;
    img {
      width: 100%;
      height: 100%;
      border-right: 10px solid wheat;
      border-left: 10px solid wheat;
      border-radius: 50% 0;
      margin: 0;
      transition: all 0.7s;
    }
    img:hover {
      border-bottom: 10px solid wheat;
      border-top: 10px solid wheat;
      scale: 1.1;
    }
    .photo {
      object-fit: none;
    }
  }
}

// skill

.row {
  i {
    font-size: 4rem;
    filter: drop-shadow(0px 0px 7px rgb(71, 71, 71));
    color: whitesmoke;
  }
  .about-us-card-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(195, 30, 1);
  }
  .about-us-card-text {
    font-size: 1.5rem;
  }
}

//learning

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.card {
  width: 28rem;
  height: 36rem;
  border-radius: 10px;
  margin: 2rem auto;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

  .team-shadow {
    z-index: -5;
  }

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-out;
  }

  h3 {
    position: absolute;
    inset: auto auto 30px 10px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    background-color: wheat;
    border-radius: 10px;
    padding: 0.5rem;
    text-transform: uppercase;
  }

  p {
    position: absolute;
    padding: 1rem;
    opacity: 0;
    max-width: 80%;
    font-size: 1.7rem;
    transition: opacity 0.3s ease-out;
    border-radius: 0px 10px 10px 0px;
    background-color: wheat;
  }

  p {
    inset: auto auto 10px 0px;
  }

  &:hover h3 {
    inset: auto auto 220px 110px;
    border-radius: 10px;
    transition: inset 0.3s ease-out;
  }

  &:hover p {
    opacity: 1;
    transition: all 0.5s 0.1s ease-in;
  }

  &:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
  }
}

.material-symbols-outlined {
  vertical-align: middle;
}

// contact

.contact {
  .icon-part {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  .part-one {
    font-size: 7rem;
    text-align: center;
    color: rgb(195, 30, 1);
  }
  .content p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .form {
    width: 90%;
    height: 100%;
    background-color: #fff;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-text {
    width: 100%;
    height: 100%;
    font-weight: bold;
    .head-text p {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      margin: 1rem;
    }
    input:focus {
      border-bottom: 2px solid rgb(195, 30, 1);
      background-color: #fff;
      outline: none;
    }
    fieldset {
      text-align: left;
      margin: 2rem;
    }
    p {
      margin: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    input,
    textarea {
      width: 100%;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
    }
    textarea:focus {
      border-bottom: 2px solid rgb(195, 30, 1);
      outline: none;
    }
    .no-outline:focus {
      outline: none;
    }
    .messege {
      padding: 1rem 2rem;
      margin: 1rem;
      border-radius: 1rem;
      font-weight: bold;
      border: none;
      background-color: rgb(195, 30, 1);
      color: whitesmoke;
      transition: all 0.5s;
    }
    .messege:hover {
      background-color: rgb(147, 23, 1);
    }
  }
  .form-photo {
    width: 60vw;
    height: 450px;
    background-image: url("../img/teacher.jpg");
    background-size: cover;
    background-position: left;
  }
}
.footer {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  hr {
    color: black;
  }
  .f {
    transition: 0.7s;
  }
}
.footer:hover > .f {
  color: rgb(195, 30, 1);
}

@media (max-width: 320px) {
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .navbar {
    background-color: #333;
    .nav-logo {
      .navbar-br {
        padding-top: 60px;
        text-align: center;
        font-size: 1.5rem;
      }
      .navbar-br:hover {
        color: rgb(195, 30, 1);
      }
      .navbar-des p {
        font-size: 1.3rem;
        text-align: center;
      }
      .navbar-des:hover {
        color: rgb(195, 30, 1);
      }
    }
    .navbar-toggler {
      font-size: 26px;
      left: 90%;
      top: 10px;
      margin-left: 5px;
    }
  }
  .home-img {
    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 270px;
      border-radius: 40px;
      padding: 10px;
      p {
        padding: 20px 10px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        color: whitesmoke;
      }
      a.btn {
        margin-top: 0px;
        font-size: 2rem;
        font-weight: bold;
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 5rem;
        background-color: none;
        transition: all 0.7s;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .card {
    width: 20rem;

    .team-shadow {
      z-index: -5;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.2s ease-out;
    }

    &:hover h3 {
      inset: auto auto 320px 60px;
      border-radius: 10px;
      transition: inset 0.3s ease-out;
    }
  }
}
@media (min-width: 321px) {
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .navbar {
    background-color: #333;
    .nav-logo {
      .navbar-br {
        padding-top: 60px;
        text-align: center;
        font-size: 1.5rem;
      }
      .navbar-br:hover {
        color: rgb(195, 30, 1);
      }
      .navbar-des p {
        font-size: 1.3rem;
        text-align: center;
      }
      .navbar-des:hover {
        color: rgb(195, 30, 1);
      }
    }
    .navbar-toggler {
      font-size: 26px;
      left: 90%;
      top: 10px;
      margin-left: 5px;
    }
  }
  .home-img {
    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 270px;
      border-radius: 40px;
      padding: 10px;
      p {
        padding: 20px 10px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        color: whitesmoke;
      }
      a.btn {
        margin-top: 0px;
        font-size: 2rem;
        font-weight: bold;
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 5rem;
        background-color: none;
        transition: all 0.7s;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .card {
    width: 20rem;

    .team-shadow {
      z-index: -5;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.2s ease-out;
    }

    &:hover h3 {
      inset: auto auto 320px 60px;
      border-radius: 10px;
      transition: inset 0.3s ease-out;
    }
  }
}
@media (min-width: 768px) {
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .navbar {
    background-color: #333;
    .nav-logo {
      .navbar-br {
        padding-top: 60px;
        text-align: center;
        font-size: 2.5rem;
      }
      .navbar-br:hover {
        color: rgb(195, 30, 1);
      }
      .navbar-des p {
        font-size: 1.7rem;
        text-align: center;
      }
      .navbar-des:hover {
        color: rgb(195, 30, 1);
      }
    }
    .navbar-toggler {
      font-size: 36px;
      left: 90%;
      top: 10px;
      margin-left: 5px;
    }
  }
  .home-img {
    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 470px;
      border-radius: 40px;
      padding: 10px;
      p {
        padding: 20px 10px;
        font-size: 3rem;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        color: whitesmoke;
      }
      a.btn {
        margin-top: 0px;
        font-size: 2rem;
        font-weight: bold;
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 5rem;
        background-color: none;
        transition: all 0.7s;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .card {
    width: 25rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    text-align: center;
    font-size: 4rem;
  }
  .navbar {
    background-color: #333;
    .nav-logo {
      .navbar-br {
        display: none;
      }
      .navbar-br:hover {
        color: rgb(195, 30, 1);
      }
      .navbar-des p {
        display: none;
      }
      .navbar-des:hover {
        color: rgb(195, 30, 1);
      }
    }
    .navbar-toggler {
      font-size: 26px;
      left: 90%;
      top: 10px;
      margin-left: 5px;
    }
  }
  .home-img {
    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 370px;
      border-radius: 40px;
      padding: 10px;
      p {
        padding: 20px 10px;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 50px;
        text-align: center;
        color: whitesmoke;
      }
      a.btn {
        margin-top: 0px;
        font-size: 2.5rem;
        font-weight: bold;
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 5rem;
        background-color: none;
        transition: all 0.7s;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .card {
    width: 30rem;

    .team-shadow {
      z-index: -5;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.2s ease-out;
    }

    &:hover h3 {
      inset: auto auto 320px 60px;
      border-radius: 10px;
      transition: inset 0.3s ease-out;
    }
  }
}

@media (min-width: 1200px) {
  h1 {
    text-align: center;
    font-size: 6rem;
  }
  .home-img {
    .home-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 570px;
      border-radius: 40px;
      padding: 10px;
      p {
        padding: 20px 10px;
        font-size: 4rem;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        color: whitesmoke;
      }
      a.btn {
        margin-top: 0px;
        font-size: 3rem;
        font-weight: bold;
        color: whitesmoke;
        border: 3px solid whitesmoke;
        border-radius: 5rem;
        background-color: none;
        transition: all 0.7s;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .card {
    width: 20rem;

    .team-shadow {
      z-index: -5;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.2s ease-out;
    }

    &:hover h3 {
      inset: auto auto 320px 60px;
      border-radius: 10px;
      transition: inset 0.3s ease-out;
    }
  }
}
